#navbar{
    height: calc(100% - 20px);
    /* border-radius: 3px; */
    width: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: #c51514;
    z-index: 5;
}

#nav-dp{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
    position: fixed;
    bottom: 5%;
}

.nav-logo{
    width: 1.7vw;
    height: auto;
}

.icon{
    width: calc(100% - 30px);
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border-radius: 3px; */
    background-color:#c51514;
    padding: 15px;
    border-radius: 100%;
}

.nav-button{
    justify-content: space-around;
    display: flex;
    margin: 40px auto;
}