h1, h2, h3, h4, h5, h6 {
	color:#111111;
	font-weight:900;
	margin:0 auto 15px;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size:22px;
}
h5 {
	font-size: 20px;
	line-height:32px;
}
h6 {
	font-size: 18px;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-weight:300
}
p {
	font-size:16px;
	line-height:26px;
	font-weight:400;
	margin-bottom:15px;
}

.listing{
    position: relative;
    top: 150px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.product-listing-m {
    margin:0 auto 40px;
    overflow: hidden;
}

.product-listing-img {
    float: left;
    width: 45%;
    position:relative;
    overflow:hidden;
}

.product-listing-content {
    float: left;
    padding:20px 15px 20px 30px;
    width: 55%;
}

.product-listing-content h5 {
    margin-bottom: 2px;
}

.product-listing-content h5 a {
      color:#111;
}

.product-listing-content ul {
    margin: 0 auto 22px;
    overflow: hidden;
    padding: 0;
}

.product-listing-content li {
    float: left;
    font-size: 13px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0 auto;
    width: 33%;
}

.product-listing-content li .fa {
    font-size: 15px;
    margin-right: 8px;
}

.img-responsi{
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    
}

#resp-img{
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.btn{
    background-color: #fa2837;
    color: white;
    text-transform: uppercase;
}

.gray-bg{
    background-color: #eeeeee;
}

.display-name{
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

.display-name:hover{
    color: #fa2837;
}

.display-title{
    font-size: 13px;
    color: #888;
}