
.profile{
    position: absolute;
    top: 50px;
    margin: 50px 200px;
    padding: 25px;
    width: calc(100% - 400px);
    border-radius: 5px;
}

.profile-details{
    text-align: center;
}

.profile-picture{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 5px;
}

.profile-picture img{
    aspect-ratio: 1/1;
    width: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.profile-name{
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

.profile-points{
    margin-bottom: 20px;
}

.profile-points span{
    padding: 0 20px;
}

.profile-content{
    padding-bottom: 25px;
    /* margin-top: 25px; */
    border-bottom: 1px solid #444;
    /* border-top: 1px solid #444; */
}

.summary{
    text-align: justify;
    width: 100%;
    padding: 10px;
    resize: none;
}

#post-content{
    margin: 25px auto 15px auto;
    text-align: justify;
    width: 100%;
    padding: 10px;
    resize: none;
    height: 150px;
}

#charCount{
    margin-bottom: 25px;
    color: #888888;
}

#summary{
    text-align: justify;
    width: 100%;
    padding: 10px;
    resize: none;
    height: 200px;
}


.details-container input:first-child{
    margin-top: 20px;
}

.details-container input{
    margin-bottom: 20px;
}

.profile-editor{
    background: white none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #888888;
    font-size: 15px;
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
    border: .2px solid #888888;
}

/* ------------------
        Review
--------------------- */

.review-content{
    padding: 20px 0;
}

.author-details{
    display: flex;
}

.author-name{
    margin-top: 10px;
    padding: 0px 20px;
    font-size: 15px;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.review{
    padding: 10px 0;
}

.author-dp{
    width: 50px;
    overflow: hidden;
}

.rating{
    padding: 7px;
    margin-top: 3px;
    width: fit-content;
    height: fit-content;
    border: 2px solid green;
    border-radius: 50%;
    color: green;
    font-weight: bold;
    position: relative;
    left: calc(100% - 170px);
}

.author-dp img{
    object-fit: cover;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.btn{
    background-color: #fa2837;
    color: white;
    text-transform: uppercase;
}

.img-btn img{
    height: 41px;
    width: auto;
    margin: auto 10px;
    cursor: pointer;
}

/* ----------------------------------
                Posts
------------------------------------- */


#freelancer{
    min-width: 250px;
    height: 45vh;
    margin: 20px;
    box-shadow: .5px 0px 5px 1px grey;
    padding: 0;
    border: none;
}

#freelancer-bg{
    width: 100%;
    height: 15vh;
    background-image: url(../files/graphic.jpg);
    background-size: cover;
    background-position: center;
}

#freelancer-discription{
    height: 10vh;
}

#freelancer-word{
    padding-left: 20px;
    padding-right: 20px;
    color: #000015;
    max-width: 250px;
}

.category-label{
    color: #000015;
    font-weight: bold;
    width: fit-content;
    margin: 30px;
    margin-bottom: 0px;
}


.category-group::-webkit-scrollbar {
    display: none;
}

.body::-webkit-scrollbar{
    width: 1px;
}


.category-group{
    position: relative;
    /* left: calc(5vw + 20px); */
    display: flex;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
}

.category-table::-webkit-scrollbar{
    width: 0px;
}

.category-table::-webkit-scrollbar-track{
    width: 0px;
}

#update-profile{
    margin-top: 15px;
}


/* Write review */

#rev{
    text-align: justify;
    width: 100%;
    padding: 10px;
    resize: none;
    height: 100px;
}

.review-form{
    text-align: center;
}

#add-review{
    margin: 25px auto;
}

.con-mgs{
    text-align: center;
    color: #444;
    font-size: 18px;
    margin-bottom: 20px;
}