*{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    color: white;
}

.listing{
    position: relative;
    top: 75px;
}


#freelancer{
    min-width: 250px;
    height: 45vh;
    margin: 20px;
    /* border-radius: 3px; */
    /* border: .5px solid rgb(0, 0, 0); */
    box-shadow: .5px 0px 5px 1px grey;
    padding: 0;
    border: none;
}

#freelancer-bg{
    width: 100%;
    height: 15vh;
    /* background-image: url(../files/graphic.jpg); */
    background-size: cover;
    background-position: center;
}

#freelancer-discription{
    height: 10vh;
}

#freelancer-details{
    display: flex;
    padding: 20px;
    position: relative;
    top: -5%;
}

#freelancer-details *{
    padding-left: 5px;
    color: #000015;
}

#freelancer-name{
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

#freelancer-name:hover{
    color: #fa2837;
}

#freelancer-title{
    font-size: 12px;
    color: #686868;
}

#freelancer-word{
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    line-height: 1.5;
    color: #000015;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s;
}

#freelancer-img{
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 100%;
    padding: 5px;
}

.category-label{
    color: #000015;
    font-weight: bold;
    width: fit-content;
    margin: 30px;
    margin-bottom: 0px;
}


.category-group::-webkit-scrollbar {
    display: none;
}

.body::-webkit-scrollbar{
    width: 1px;
}


.category-group{
    position: relative;
    /* left: calc(5vw + 20px); */
    display: flex;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
}

.category-table::-webkit-scrollbar{
    width: 0px;
}

.category-table::-webkit-scrollbar-track{
    width: 0px;
}