#list-pos{
    height: calc(100% - 20px);
    border-radius: 3px;
    width: 25vw;
    position: fixed;
    top: 100px;
    margin: 10px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

#list-pos::-webkit-scrollbar{
    width: 0px;
}

#list-pos::-webkit-scrollbar-track{
    width: 0px;
}

#search-text{
    width: calc(25vw - 30px);
    margin: 10px;
    height: 40px;
    background: white none repeat scroll 0 0;
    color: #111;
    border: .2px solid #888888;
    padding-left: 10px;
}

#chat-person{
    position: relative;
    left: -1px;
    display: flex;
    width: calc(25vw);
    height: auto;
    margin: 3px 0;
    border-top: .5px solid #ededed;
    overflow-y: hidden;
    outline: none;
}

#chat-person:hover{
    background-color: #ededed;
}

#p-dp{
    width: auto;
    max-width: 100px;
    height: calc(10vh - 30px);
    margin: 15px;
    cursor: pointer;
}


#chat-person span{
    color: #000015;
    position: relative;
    top: 3vh;
    font-size: 17px;
}



#chat-area{
    /* display: none; */
    height: calc(100% - 20px);
    border-radius: 3px;
    width: calc(100% - (25vw + 20px));
    position: fixed;
    top: 0;
    left: calc(25vw + 10px );
    margin: 10px;
}

#title{
    height: 10vh;
    background-color: white;
    box-shadow: .5px 0px 5px 1px grey;
    width: calc(100% - 20px);
    margin: 0 10px;
    border-radius: 3px;
    display: flex;
}

.dp {
    width: auto;
    max-width: 100px;
    height: calc(10vh - 30px);
    margin: 15px;
    cursor: pointer;
}

.details{
    position: relative;
    top: 3vh;
}

.details span{
    font-size: 20px;
    font-weight: bold;
    color: #000015;
}


.input-area{
    height: fit-content;
    background-color: white;
    border: .2px solid #888888;
    margin: 10px;
    align-items: center;
}


#send-text{
    height: 45px;
    width: calc(100% - 70px);
    margin: 10px;
    outline: none;
    /* background-color: #ededed; */
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    color: #000015;
}

#send-btn{
    background: none;
    border: none;
    outline: none;
    color: #000015;
    font-size: 35px;
    cursor: pointer;
}

#chat-box{
    width: calc(100% - 20px);
    height: calc(100% - (10vh + 85px));
    margin: 10px;
    overflow-y: auto;
}

#chat-box::-webkit-scrollbar{
    width: 0px;
}

#chat-box::-webkit-scrollbar-track{
    width: 0px;
}


#default-chat{
    display: none;
    height: calc(100% - 20px);
    border: none;
    width: calc(100% - (25vw + 20px));
    position: fixed;
    top: 0;
    left: calc(30vw + 10px );
    margin: 10px;
}

#default-chat img{
    width: 50%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.message{
    font-size: 15px;
    word-wrap: break-word;
    padding: 15px;
    color: #000015;
}

.incoming .message{
    padding-top: 5px;
}

.outgoing{
    width: 60%;
    background-color: #c8e0ff;
    border-radius: 3px;
    margin: 10px;
    border-bottom-right-radius: 0;
    position: relative;
    left: 100%;
    transform: translate(-105%);
}

.incoming{
    width: 60%;
    background-color: #f0abab;
    border-radius: 3px;
    margin: 10px;
    border-top-left-radius: 0;
}

